<a href="https://colab.research.google.com/github/firstandone/EvalProcDatPython/blob/main/proyectoFinalPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**RESUMEN**

El infonavit suspendio la modalidad de crédito "Hipoteca Verde" para la adquisición de ecotecnologias.
La empresa objeto de este estudio fue proveedora de productos de ecotecnologias quedando sin poder vender los diferentes productos de ecotecnologias.<br>
Bajando sus facturación y ventas a casi cero.<br>
Los retos a resolver por data science son dos, por encargo del dueño de esta empresa proveedora:<br>
a.-) Modelar si es viable seguir operando el negocio, sin depender de los ingresos que provenian de este programa de gobierno.<br>
b.-) Es viable transformar la empresa de proveedor de gobierno, a empresa de "soluciones sustentables para el hogar"
<br>

Para poder modelar la solución sólo se tiene:<br>
1.- La base de datos de prospectación, que hacia llegar el infonavit, "EN LOTES 
    SIN NINGUN TIPO DE CLASIFICACIÓN, VERIFICACIÓN",  dividida por estado de la 
    república.<br>
2.- El call-center opera con 5 agentes de ventas.<br>
3.- No se tiene acceso a historico de ventas, productos vendidos, se trata de   
    transformar en un nuevo negocio partiendo de cero.<br>

Estos datos los envia infonavit en formato CSV separados por estado de la república mexicana y cada archivo viene con 37 campos y un archivo que describe cada campo., con los datos generales de cada contacto:<br>
"NOMBRE DE LA COLUMNA" "DESCRIPCIÓN" <br>
DEL ->            DELEGACION INFONAVIT. <br>
"# CTAS ->         NÚMERO DE CUENTA INFONAVIT. <br>
NOMBRE ->          NOMBRE DEL TITULAR DE LA CUENTA.<br>
F_OTORG ->        FECHA DE OTORGAMIENTO DE CRÉDITO. <br>
CALLE ->           CALLE REGISTRADA CREDITO VIVIENDA INFONAVIT. <br>
COL ->             COLONIA REGISTRADA CREDITO VIVIEND INFONAVIT. <br>
MUN ->             MUNICIPO REGISTRADO CREDITO VIVIENDA INFONAVIT. <br>
CP ->              CP REGISTRADO CREDITO VIVIENDA INFONAVIT. <br>
CALLE_ALT ->       CALLE ALTERNA, DOMICILIO OPCIONAL. <br>
COL_ALT ->         COLONIA ALTERNA, DOMICILIO OPCIONAL. <br>
MUN_ALT ->         MUNICIPIO ALTERNO, DOMICILIO OPCIONAL. <br>
CP_ALT ->          CODIGO POSTAL ALTERNO, DOMICILIO OPCIONAL. <br>
STAT ->            USO INTERNO INFONAVIT. <br>
MES_SINPAG ->      USO INTERNO INFONAVIT. <br>
ADI_ECOTEC ->      MONTO DE CREDITO AUTORIZADO EN PESOS. <br>
TOT_ECOELE ->     MONTO TOTAL DE CREDITO AUTORIZADO EN PESOS. <br>
TOT_INSELE ->      USO INTERNO INFONAVIT. <br>
AHO_OBLIG ->       USO INTERNO INFONAVIT. <br>
AHO_ELEG ->        USO INTERNO INFONAVIT. <br>
REAL_ECOTE ->      USO INTERNO INFONAVIT. <br>
TX_LADA ->         CLAVE LADA MARCACIÓN TELEFONO FIJO.<br> 
TX_TELEFON ->      NÚMERO DE TELEFONO DE CONTACTO REGISTRADO EN INFONAVIT. <br>
TEL_01 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_02 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_03 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_04 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_05 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_06 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_ORIG ->        NUMERO DE TELEFONO OPCIONAL. <br>
TEL_ACT ->         NUMERO DE TELEFONO ORIGINAL REGISTRADO EN INFONAVIT (OPCIONAL). <br>
CEL_ORIG ->        NUMERO DE TELEFONO CELULAR ORIGINAL (OPCIONAL). <br>
CEL_ACT ->         NUMERO DE TELEFONO CELULAR ACTUALIZADO (OPCIONAL). <br>
TRAB_ACT ->        NUMERO DE TELEFONO CENTRO DE TRABAJO. <br>
CEL_ARC ->         USO INTERNO INFONAVIT. <br>
CONCEPTO ->        TIPO DE CREDITO. <br>
TX_DEL ->          USO INTERNO. <br>
TX_DELCORT ->      USO INTERNO. <br>




-Monto autorizado para consumo de productos de ecotecnologias.<br>





1.-Considerar la base actual de clientes potenciales establecidos en la cartera
2.-Considerar paquetes o productos en función de los creditos preasignados,
3.-Predecir en función de la zona geografica y de las variables de clima, y de consumo de la zona, estimación de gasto en ecotecnologias.
4.-Pronosticar un estimado de gasto en función del nivel de ingresos, y modelar tres posibles escenarios de gasto total, a.-)Sueldo minimo b.-)Dos sueldos Minimos c.-)Tres sueldos minimos.

**INTRODUCCIÓN Y METODOLOGÍA**

In [ ]:
from google.colab import files

In [ ]:
df = pd.read_excel("https://inmobiliariavilla.com.mx/wp-content/uploads/2023/02/libro_principal.xlsx", sheet_name="EDODEMEX")
df.shape

(20162, 37)

In [ ]:
%config IPCompleter.greedy=True
import pandas as pd
import numpy as np
import xlrd
import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter

In [ ]:
cdmx = pd.read_excel("https://inmobiliariavilla.com.mx/wp-content/uploads/2023/02/libro_principal.xlsx", sheet_name="CDMX")

In [ ]:
qrtro = pd.read_excel('https://inmobiliariavilla.com.mx/wp-content/uploads/2023/02/libro_principal.xlsx', sheet_name='QRTRO')

In [ ]:
nl = pd.read_excel('https://inmobiliariavilla.com.mx/wp-content/uploads/2023/02/libro_principal.xlsx', sheet_name='NL')

In [ ]:
cdmx.head()

,DEL,# CTAS,NOMBRE,F_OTORG,CALLE,COL,MUN,CP,CALLE_ALT,COL_ALT,...,TEL_06,TEL_ORIG,TEL_ACT,CEL_ORIG,CEL_ACT,TRAB_ACT,CEL_ARC,CONCEPTO,TX_DEL,TX_DELCORT
0,9,911167028,ZAVALA LOPEZ JOAQUIN,20181101,FUENTE DE DALILA 22 B MZ 11 LT 11,FUENTES DEL VALLE SEGUNDA SECC,TULTITLAN,54910,FUENTE DE DALILA 22 B MZ 11 LT 11,FUENTES DEL VALLE SEGUNDA SECC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Infonavit Tradicional,Metropolitana,Metro
1,9,918143925,RAMON BUSTAMANTE AURORA RAQUEL,20180903,CALLE 5 32 CASA 4 LT FRACC G NIV PLANT,COLONIA SAN PEDRO DE LOS PINOS,BENITO JUAREZ,3800,CALLE 5 32 CASA 4 LT FRACC G NIV PLANT,COLONIA SAN PEDRO DE LOS PINOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Infonavit Tradicional,Metropolitana,Metro
2,9,918147896,VAZQUEZ MARTINEZ DE VELASCO LOURDES REFU,20180911,CALLE LAGO ZUG 8 DEPTO A404 COND LAGO,COLONIA LEGARIA,MIGUEL HIDALGO,11410,CALLE LAGO ZUG 8 DEPTO A404 COND LAGO,COLONIA LEGARIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Infonavit Tradicional,Metropolitana,Metro
3,9,918148280,ACEVEDO PADILLA MARTHA ESPERANZA,20180912,PRIVADA DE BAJIO ANTES CALLE CERRADA DE,COLONIA ROMA SUR,CUAUHTEMOC,6760,PRIVADA DE BAJIO ANTES CALLE CERRADA DE,COLONIA ROMA SUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Infonavit Tradicional,Metropolitana,Metro
4,9,918151439,SESILIANO MORENO CITLALI,20180903,CALLE EMILIANO ZAPATA 174 DEPTO 401 CO,COLONIA 10 DE MAYO,VENUSTIANO CARRANZA,15290,CALLE EMILIANO ZAPATA 174 DEPTO 401 CO,COLONIA 10 DE MAYO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Infonavit Tradicional,Metropolitana,Metro

Warning: Total number of columns (37) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.dtypes

DEL             int64
# CTAS          int64
NOMBRE         object
F_OTORG         int64
CALLE          object
COL            object
MUN            object
CP              int64
CALLE_ALT      object
COL_ALT        object
MUN_ALT        object
CP_ALT        float64
STAT           object
MES_SINPAG      int64
ADI_ECOTEC    float64
TOT_ECOELE    float64
TOT_INSELE      int64
AHO_OBLIG       int64
AHO_ELEG        int64
REAL_ECOTE      int64
TX_LADA         int64
TX_TELEFON      int64
TEL_01          int64
TEL_02        float64
TEL_03        float64
TEL_04        float64
TEL_05        float64
TEL_06        float64
TEL_ORIG      float64
TEL_ACT       float64
CEL_ORIG      float64
CEL_ACT       float64
TRAB_ACT      float64
CEL_ARC       float64
CONCEPTO       object
TX_DEL         object
TX_DELCORT     object
dtype: object

In [ ]:
edoMex = df.copy

In [ ]:
edoMex = df

In [1]:
edoMex.head

NameError: ignored

In [ ]:
edoMex.to_csv('/content/drive/MyDrive/Proyecto_python/edoMex_utf8.csv', encoding='utf-8')

In [ ]:
cdmx.to_csv('/content/drive/MyDrive/Proyecto_python/cdmx_utf8.csv',encoding='utf-8')

In [ ]:
qrtro.to_csv('/content/drive/MyDrive/Proyecto_python/qrtro_utf8.csv',encoding ='utf-8')

In [ ]:
nl.to_csv('/content/drive/MyDrive/Proyecto_python/nl_utf8.csv',encoding='utf-8')