<a href="https://colab.research.google.com/github/firstandone/EvalProcDatPython/blob/main/proyectoFinalPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**RESUMEN**

El infonavit suspendio la modalidad de crédito "Hipoteca Verde" para la adquisición de ecotecnologias.
La empresa objeto de este estudio fue proveedora de productos de ecotecnologias quedando sin poder vender los diferentes productos de ecotecnologias.<br>
Bajando sus facturación y ventas a casi cero.<br>
Los retos a resolver por data science son dos, por encargo del dueño de esta empresa proveedora:<br>
a.-) Modelar si es viable seguir operando el negocio, sin depender de los ingresos que provenian de este programa de gobierno.<br>
b.-) Es viable transformar la empresa de proveedor de gobierno, a empresa de "soluciones sustentables para el hogar"
<br>

Para poder modelar la solución sólo se tiene:<br>
1.- La base de datos de prospectación, que hacia llegar el infonavit, "EN LOTES 
    SIN NINGUN TIPO DE CLASIFICACIÓN, VERIFICACIÓN",  dividida por estado de la 
    república.<br>
2.- El call-center opera con 5 agentes de ventas.<br>
3.- No se tiene acceso a historico de ventas, productos vendidos, se trata de   
    transformar en un nuevo negocio partiendo de cero.<br>

Estos datos los envia infonavit en formato excel separados por estado de la república mexicana y cada archivo viene con 37 campos y un archivo que describe cada campo., con los datos generales de cada contacto:<br>
"NOMBRE DE LA COLUMNA" "DESCRIPCIÓN" <br>
DEL ->            DELEGACION INFONAVIT. <br>
"# CTAS ->         NÚMERO DE CUENTA INFONAVIT. <br>
NOMBRE ->          NOMBRE DEL TITULAR DE LA CUENTA.<br>
F_OTORG ->        FECHA DE OTORGAMIENTO DE CRÉDITO. <br>
CALLE ->           CALLE REGISTRADA CREDITO VIVIENDA INFONAVIT. <br>
COL ->             COLONIA REGISTRADA CREDITO VIVIEND INFONAVIT. <br>
MUN ->             MUNICIPO REGISTRADO CREDITO VIVIENDA INFONAVIT. <br>
CP ->              CP REGISTRADO CREDITO VIVIENDA INFONAVIT. <br>
CALLE_ALT ->       CALLE ALTERNA, DOMICILIO OPCIONAL. <br>
COL_ALT ->         COLONIA ALTERNA, DOMICILIO OPCIONAL. <br>
MUN_ALT ->         MUNICIPIO ALTERNO, DOMICILIO OPCIONAL. <br>
CP_ALT ->          CODIGO POSTAL ALTERNO, DOMICILIO OPCIONAL. <br>
STAT ->            USO INTERNO INFONAVIT. <br>
MES_SINPAG ->      USO INTERNO INFONAVIT. <br>
ADI_ECOTEC ->      MONTO DE CREDITO AUTORIZADO EN PESOS. <br>
TOT_ECOELE ->     MONTO TOTAL DE CREDITO AUTORIZADO EN PESOS. <br>
TOT_INSELE ->      USO INTERNO INFONAVIT. <br>
AHO_OBLIG ->       USO INTERNO INFONAVIT. <br>
AHO_ELEG ->        USO INTERNO INFONAVIT. <br>
REAL_ECOTE ->      USO INTERNO INFONAVIT. <br>
TX_LADA ->         CLAVE LADA MARCACIÓN TELEFONO FIJO.<br> 
TX_TELEFON ->      NÚMERO DE TELEFONO DE CONTACTO REGISTRADO EN INFONAVIT. <br>
TEL_01 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_02 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_03 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_04 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_05 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_06 ->          NUMERO DE TELEFONO OPCIONAL. <br>
TEL_ORIG ->        NUMERO DE TELEFONO OPCIONAL. <br>
TEL_ACT ->         NUMERO DE TELEFONO ORIGINAL REGISTRADO EN INFONAVIT (OPCIONAL). <br>
CEL_ORIG ->        NUMERO DE TELEFONO CELULAR ORIGINAL (OPCIONAL). <br>
CEL_ACT ->         NUMERO DE TELEFONO CELULAR ACTUALIZADO (OPCIONAL). <br>
TRAB_ACT ->        NUMERO DE TELEFONO CENTRO DE TRABAJO. <br>
CEL_ARC ->         USO INTERNO INFONAVIT. <br>
CONCEPTO ->        TIPO DE CREDITO. <br>
TX_DEL ->          USO INTERNO. <br>
TX_DELCORT ->      USO INTERNO. <br>



Lo único que nos suministra la empresa es:
-Monto autorizado para consumo de productos de ecotecnologias.<br>
-Considerar la base actual de clientes potenciales establecidos en la cartera

**INTRODUCCIÓN**

Este problema en particular es nuevo, sin precendente anteriores, ya que el programa "HIPOTECA VERDE" se implmento durante la primer decada de este siglo, y no había sido suspendido con anterioridad.<br>
Conforme al Programa Nacional de Vivienda (2007-2012) del Sexenio del Presidente Felipe Calderón Hinojosa (2006-2012), dicho programa inspirado en los principios del Desarrollo Sustentable<sup>(1)</sup> se planteo, entre otros objetivos, "Impulsar un desarrollo habitacional sustentable" (CONAVI, 2008, p.37). Con dicha base a partir de 2007, el INFONAVIT impulso el programa de financiamiento HIPOTECA VERDE, definida como:<br>
"Un crédito que cuenta con un monto adicional para que el derechohabiente pueda adquirir una vivienda con tecnologías eficientes que disminuyen el consumo de agua, energía eléctrica y gas, o incorporarlas a la misma en caso de que la vivienda a adquirir no cuente con ellas en el momento de la formalización del crédito, con el objetivo de mejorar la calidad de vida de nuestros acreditados, disminuyendo su gasto familiar y las emisiones de CO2 al medio ambiente (INFONAVIT, 2011b, p.5) <br>

Este programa se ha desarrollado en tres fases:<br>
Como proyecto piloto, desde la formalización del primer crédito (julio de 2007<sup>2</sup>) hasta el 4 de marzo de 2008; de esta fecha hasta el 31 de diciembre de 2010, fue un programa opcional en el que podian participar todas las desarrolladoras inmobiliarias interesadas<sup>3</sup>; y finalmente, desde enero de 2011 fue un programa obligatorio para todos aquellos que deseen obtener un crédito del INFONAVIT (Chavarria, 2007; INFONAVIT, 2008, 2011c)<sup>4</sup>
El programa "HIPOTECA VERDE" bajo esta definición fue suspendido el 19 Marzo de 2022, en la misma nota afirman que implementara el INFONAVIT otros esquemas de crédito, diferentes al concepto original del  crédito.<sup>5</sup>

<h6>DELIMITACION</h6>
La delimitación del tema objeto de estudio y el proposito del mismo NO involucra:<br>
-Volumen del negocio en pesos.<br>
-ROI o punto de equilibro del negocio.<br>
-Productos especificos a vender en cada zona geografica.<br>
-Mecanismos o procesos de venta.<br>
-Perfiles para otorgamiento de crédito.<br>
-Niveles de riesgo en las diferentes etapas del negocio.<br>

El centro y objetivo del presente estudio, se limita a los dos objetivos señalados arriba, y probar la hipotesis:
Es viable un negocio de "soluciones sustentables" en las cuatro zonas CDMX,EDOMEX, QUERETARO, NUEVO LEÓN.

METODOLOGIA:

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive

In [ ]:
import glob

In [ ]:
import time

Los archivos que suministra el INFONAVIT, es libro de excel, dividido en hojas por estado, cabe señalar que el archivo solo viene dividido por estado, y no tiene ningún tipo de limpieza de datos, orden, o verificación.<br>
El archivo esta dentro de una URL externa a DRIVE, por lo cual se utiliza la función de pandas read_excel, con el argumento sheet_name, para extraer cada hoja dentro del directorio raiz de trabajo de Google Colaboratory.
Para este caso particular son cuatro hojas de excel, y lo hacemos cada  una por separado, la razón es que para realizar el analisis de cluster, para poderlos clasificar en grupos homogeneos.
Adicional, al no estar limpio el archivo original, si lo leemos directamente y lo pasamos a dataframe, no tenemos una certeza de que pasen los datos correctamwente,  ya que el archivo origen, no vienen con ningún tratamiento de limpieza previo.
Esto es importante ya que pudieramos aplicar una instrucción concat, pero esto lejos de ayudar, ensuciaria mas los datos, ya que no se tienes la certeza de limpieza en columnas.

In [ ]:
cdmx = pd.read_excel("https://inmobiliariavilla.com.mx/wp-content/uploads/2023/02/libro_principal.xlsx", sheet_name="CDMX")

In [ ]:
edoMex= pd.read_excel("https://inmobiliariavilla.com.mx/wp-content/uploads/2023/02/libro_principal.xlsx", sheet_name="EDODEMEX")

In [ ]:
qrtro = pd.read_excel('https://inmobiliariavilla.com.mx/wp-content/uploads/2023/02/libro_principal.xlsx', sheet_name='QRTRO')

In [ ]:
nl = pd.read_excel('https://inmobiliariavilla.com.mx/wp-content/uploads/2023/02/libro_principal.xlsx', sheet_name='NL')

Adquisición de datos.
Los cuatro archivos *.csv se situarón en una carpeta de Google drive.
Cada archivo por un nombre que hace referencia al estado de la república mexicana donde tenia presencia la empresa, y que contiene los datos arriba señalados.


La ruta donde se colocan los archivos es:
/content/drive/MyDrive/Proyecto_python
Cada archivo se denota por nombre del estado de la república mexicana, y se codifica con el parametro UTF-8, para que respete carácteres especiales.

In [ ]:
cdmx.to_csv('/content/drive/MyDrive/Proyecto_python/cdmx_utf8.csv',encoding='utf-8')

In [ ]:
edoMex.to_csv('/content/drive/MyDrive/Proyecto_python/edoMex_utf8.csv', encoding='utf-8')

In [ ]:
nl.to_csv('/content/drive/MyDrive/Proyecto_python/nl_utf8.csv',encoding='utf-8')

In [ ]:
qrtro.to_csv('/content/drive/MyDrive/Proyecto_python/qrtro_utf8.csv',encoding ='utf-8')

El paso previo es necesario para tener los archivos con la codificación correcta UTF-8, de igual forma, ya tenemos los archivos csv para poder hacer las transformaciones que sean necesarias, en este caso cada archivo lo vamos a transformar en un pandas dataframe con la función pd.read_csv()<br>
y con la función info() validamos que la transformación se realizo correctamente y podemos visualizar los tipos de datos.<br>
Con la función shape validamos que las columnas sean 38 en cada data-frame, esto posteriormente nos servira para efectos de una posible concatenación.<br>
Con la función head() nos sirve para ver la estructura de los datos, y poder veri si corresponden con el tipo de datos de cada columna.

In [ ]:
path = '/content/drive/MyDrive/Proyecto_python'
csv_bases = glob.glob(path + "/*.csv")

df_lista = (pd.read_csv(file) for file in csv_bases)

In [ ]:
df_base = pd.concat(df_lista, ignore_index=True)

In [ ]:
df_base.shape

(91648, 38)

Por lo cual podemos concluir, al aplicar las funciones:


*   Cada dataset tiene una consistencia de 38 columnas.
*   La información si corresponde con la descripción suministrada.
*   Aunque cada dataset tiene 38 columnas, el tipo de dato no son similares en los cuatro datasets.
*   Tenemos columnas Nans en cada dataset

Para este estudio en particular sólo haremos uso de las siguientes columnas:

*   Datos del titular.
*   Ubicación geografica (Dirección).
*   Monto de crédito autorizado.
*   Número de telefono de contacto.

Nuestro siguiente paso será eliminar todas las columnas que no serán utiles, para lo cual utilizaremos la función drop de pandas.
La forma que emplearemos será utilizar la función columns previo, para saber exactamente los nombres de columnas a eliminar.

Utilizamos la función columns para mostrar todas las columnas que elimaremos de cada data frame.

In [ ]:
df_base.columns

Index(['Unnamed: 0', 'DEL', '# CTAS', 'NOMBRE', 'F_OTORG', 'CALLE', 'COL',
       'MUN', 'CP', 'CALLE_ALT', 'COL_ALT', 'MUN_ALT', 'CP_ALT', 'STAT',
       'MES_SINPAG', 'ADI_ECOTEC', 'TOT_ECOELE', 'TOT_INSELE', 'AHO_OBLIG',
       'AHO_ELEG', 'REAL_ECOTE', 'TX_LADA', 'TX_TELEFON', 'TEL_01', 'TEL_02',
       'TEL_03', 'TEL_04', 'TEL_05', 'TEL_06', 'TEL_ORIG', 'TEL_ACT',
       'CEL_ORIG', 'CEL_ACT', 'TRAB_ACT', 'CEL_ARC', 'CONCEPTO', 'TX_DEL',
       'TX_DELCORT'],
      dtype='object')

Al tener identificadas la columnas a eliminar de cada dataset, utilizamos la función drop, con el parametro axis = 1, para indicar que serán eliminadas columnas.<br>
Cabe señalar que dentro de estas columnas existe valores NaN, y que al eliminarlas se eliminan esos NaN que no aportan certeza a nuestro marco de estudio.

In [ ]:
df_base = df_base.drop(['Unnamed: 0','DEL','F_OTORG','CALLE_ALT', 'COL_ALT', 'MUN_ALT', 'CP_ALT', 'STAT',
       'MES_SINPAG', 'ADI_ECOTEC', 'TOT_INSELE', 'AHO_OBLIG',
       'AHO_ELEG', 'REAL_ECOTE','TEL_01', 'TEL_02',
       'TEL_03', 'TEL_04', 'TEL_05', 'TEL_06', 'TEL_ORIG', 'TEL_ACT',
       'CEL_ORIG', 'CEL_ACT', 'TRAB_ACT', 'CEL_ARC', 'CONCEPTO', 'TX_DEL',
       'TX_DELCORT'], axis = 1)
df_base.to_csv('/content/drive/MyDrive/Proyecto_pythonProc/df_inicial.csv',encoding='utf-8')

Con la función isnull()  en nuestro marco de datos, que nos devuelve un valor boolean, y como podemos ver, hay un valor Nan.

In [ ]:
df_base.isnull().sum()

# CTAS        0
NOMBRE        0
CALLE         0
COL           1
MUN           0
CP            0
TOT_ECOELE    0
TX_LADA       0
TX_TELEFON    0
dtype: int64

Visualizamos nuestro dataset, y hasta este punto, sólo hemos eliminado columnas innecesarias, y nos quedan las columnas con las que trabajeremos.
Nuestro siguiente paso, es buscar si existen Nan dentro de cada columna o fila,
para lo cual utilizaremos la función

In [ ]:
columnas_nulas = df_base.columns[df_base.isnull().any()]
df_base[columnas_nulas].isnull().sum()
print(df_base[df_base.isnull().any(axis=1)][columnas_nulas].head())

       COL
58157  NaN

Con la función dropna, y el parametro "any" eliminamos ese valor NaN

In [ ]:
df_baselimpio = df_base.dropna(how = 'any')

Nuevamente aplicamos la función isnull() y sum() para verificar la no existencia de valores NaN

In [ ]:
df_baselimpio.isnull().sum()

# CTAS        0
NOMBRE        0
CALLE         0
COL           0
MUN           0
CP            0
TOT_ECOELE    0
TX_LADA       0
TX_TELEFON    0
dtype: int64

Posteriormente, renombramos las columnas con la función rename(), para poder tener un análisis correcto.

In [ ]:
df_baselimpio = df_baselimpio.rename(columns={'Unnamed: 0':'CONSECUTIVO','# CTAS':'CUENTA','TOT_ECOELE':'MONTO_CREDITO','TX_LADA':'LADA','TX_TELEFON':'TELEFONO'})

In [ ]:
df_baselimpio.columns

Index(['CUENTA', 'NOMBRE', 'CALLE', 'COL', 'MUN', 'CP', 'MONTO_CREDITO',
       'LADA', 'TELEFONO'],
      dtype='object')

In [ ]:
df_baselimpio.head()

Verificamos con la función nunique la columna CUENTA, que será nuestro índice para validar que no tenemos valores repetidos en el número de cuenta, para tener certeza en nuestro marco de datos.

In [ ]:
df_baselimpio_object = df_baselimpio['CUENTA'].nunique()
print(df_baselimpio_object)

91647

Nuestro indice será el número de cuenta o crédito, ya que es único por persona, con la función set_index()

In [ ]:
df_baselimpio = df_baselimpio.set_index(['CUENTA'],inplace = False)

In [ ]:
df_baselimpio.head()

,NOMBRE,CALLE,COL,MUN,CP,MONTO_CREDITO,LADA,TELEFONO
CUENTA,,,,,,,,
911167028,ZAVALA LOPEZ JOAQUIN,FUENTE DE DALILA 22 B MZ 11 LT 11,FUENTES DEL VALLE SEGUNDA SECC,TULTITLAN,54910,17918.00,55,45015431
918143925,RAMON BUSTAMANTE AURORA RAQUEL,CALLE 5 32 CASA 4 LT FRACC G NIV PLANT,COLONIA SAN PEDRO DE LOS PINOS,BENITO JUAREZ,3800,49004.80,55,26147088
918147896,VAZQUEZ MARTINEZ DE VELASCO LOURDES REFU,CALLE LAGO ZUG 8 DEPTO A404 COND LAGO,COLONIA LEGARIA,MIGUEL HIDALGO,11410,49004.80,55,43527066
918148280,ACEVEDO PADILLA MARTHA ESPERANZA,PRIVADA DE BAJIO ANTES CALLE CERRADA DE,COLONIA ROMA SUR,CUAUHTEMOC,6760,36753.60,55,55510047
918151439,SESILIANO MORENO CITLALI,CALLE EMILIANO ZAPATA 174 DEPTO 401 CO,COLONIA 10 DE MAYO,VENUSTIANO CARRANZA,15290,4900.48,55,66461754

Verificamos con la función dtpyes los tipos de datos, y el único valor número para nuestro análisis es "MONTO_CREDITO", las demas columnas tendrían que ser "object"

In [ ]:
df_baselimpio.dtypes

NOMBRE            object
CALLE             object
COL               object
MUN               object
CP                 int64
MONTO_CREDITO    float64
LADA               int64
TELEFONO           int64
dtype: object

In [ ]:
df_baselimpio.tail()

,NOMBRE,CALLE,COL,MUN,CP,MONTO_CREDITO,LADA,TELEFONO
CUENTA,,,,,,,,
2220092750,TIRADO MACIAS ALEJANDRO,CIRRUS 308 59 MZ 8 LT 38 COND CONDOMIN,FRACCIONAMIENTO REAL SOLARE,"MARQUES, EL",76246,5334.00,55,27317857
2220092875,PEREZ LEDEZMA MARIA EBELINA,CIRRUS 305 7 MZ 7 LT 3 COND CONDOMINIO,FRACCIONAMIENTO REAL SOLARE,"MARQUES, EL",76246,10701.00,442,7485731
2220093385,SOSA REYES SERGIO ALEJANDRO,CIRRUS 301 36 MZ 7 LT 5 COND CONDOMINI,REAL SOLARE 3,"MARQUES, EL",76246,4039.00,442,1026413
2220093993,PRADO AMARO FRANKY ASAEL,AVENIDA MARQUES DE MONTEMAYOR 602 96 M,FRACCIONAMIENTO REAL DEL MARQU,QUERETARO,76118,34334.97,735,1983584
2220095593,GUTIERREZ BALDERAS AURORA BETSABE,CIRRUS 301 41 MZ 7 LT 5 COND CONDOMINI,REAL SOLARE 3,"MARQUES, EL",76246,4039.00,777,1063809

Con la función astype() realizamos un coerce de las columnas, para cambiarlos correctamente.
Y con esto tenemos listo nuestro dataframe.

Hasta este punto no hemos utilizado funciones lambda, concatenación de columnas, funciones,
Esto lo ocuparemos cuando iniciemos a integrar con las demas fuentes de datos y variables para probar la hipótesis anexa a este documento.

Los datos son reales y el caso de estudio es real, la empresa por cuestión de confidencialidad no la nombro, sin embargo, se realizarón tres visitas a la empresa para escuchar las necesidades de la empresa que quedan plasmadas en los dos objetivos arriba señalados, así como la hipótesis a probar y con esto aplicar los conceptos de dataScience

In [ ]:
df_baselimpio = df_baselimpio.astype({'CP':'object','LADA':'object','TELEFONO':'object'})

In [ ]:
df_baselimpio.dtypes

NOMBRE            object
CALLE             object
COL               object
MUN               object
CP                object
MONTO_CREDITO    float64
LADA              object
TELEFONO          object
dtype: object